<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="ios-home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order">
      <ion-icon name="ios-paper"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="subscription">
      <ion-icon name="ios-filing"></ion-icon>
      <ion-label>Subscription</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="account">
      <ion-icon name="ios-person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="wallet">
      <ion-icon name="ios-wallet"></ion-icon>
      <ion-label>Wallet</ion-label>
    </ion-tab-button> -->
    
  </ion-tab-bar>

</ion-tabs>
