<ion-content background1>
  
<ion-card>
  <ion-card-content>
    <ion-grid fixed>
    
    <ion-row>
      <ion-col size="10">
        <h3>Sign in / Sign up</h3>
        <p>
          <small
            >Sign up or Sign in to access your orders, special offers, health
            tips and more</small
          >
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="fixed">+91</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row center>
      <ion-col size="12" text-center>
        <ion-button routerLink="/transaction" shape="round">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col size="12" text-center class="devide">
        <span class="divider-span"> OR </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" text-center class="logo">
        <ion-button shape="round" color="danger">
          <ion-icon slot="icon-only" name="logo-google"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4" text-center>
          <ion-button  shape="round">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-card-content>
</ion-card>
</ion-content>

